COUNTRIES=Netherlands
DESCARGA=/ruta/a/descargas:/data
DPHOTO=/ruta/a/photos
IMMICHCACHE=/ruta/a/immich/cache:/cache
IMMICHPOSTGRES=/ruta/a/immich/postgres:/var/lib/postgresql/data
MEDIA=/ruta/a/media:/media